.app-navbar{ 
  height: var(--nav-h); 
  z-index:1200; 
}


.nav-tech-icon{ 
  height:44px; 
  width:auto; 
  display:block;
}

#iconopride{
  filter: brightness(0%);
  height: 24px; 
  display:block;
} 